server {
    listen        ${NGINX_PORT};
    server_name   ${NGINX_SERVER_NAME};

    location / {
        proxy_pass         http://frontend:${FRONTEND_PORT};
    }

    location /api {
        proxy_pass         http://backend:${BACKEND_PORT};
        rewrite ^(.*)$ $1 break;
    }
}