/* .container {
    margin: auto;
    text-align: center;
    font-family: "Bahnschrift", sans-serif;
    padding-bottom: 20px;
    min-height: 700px;
}

h1 {
    font-weight: bold;
    font-size: 36px;
}

#recipes-container > a:hover {
    text-decoration: underline;
}

.card-side > img {
    max-height: 500px;
    min-width: 400px;
}

.recipe-header {
    font-size: 28px;
    font-style: italic;
    margin-bottom: 20px;
}

.recipe-info {
    text-align: left;
}

.recipe-info > ul {
    padding-left: 20px;
    list-style-type: disc;
}

.recipe-info > ul > li {
    margin-top: 10px;
}

.recipe-sub-title {
    font-size: 20px;
    font-weight: bold;
}

.badges > div + div {
    margin-left: 10px;
}

.card-body :where(p) {
    flex-grow: unset;
    margin-bottom: 20px;
}

ol {
    list-style-type: decimal;
}

ol li {
    padding-left: 15px;
}

.recipe-name, ol > ::marker {
    font-weight: bold;
}

.card-side {
    border-radius: 0;
} */